# Java
*.class
.mtj.tmp/
*.jar
*.war
*.ear

# Ant
.ant-targets-build.xml

# IntelliJ IDEA
out/
.idea/workspace.xml
.idea/ant.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/dictionaries

# VM Crash Logs
hs_err_pid*

# Generic Junk
*~
*.lock
*.DS_Store
*.swp
*.out
[Tt]humbs.db

